
<div class="body">
    <mat-card class="loginCard">

        <div class="pb-3">
            <img src="https://www.doublevpartners.com/assets/images/shared/dvp-logo-alter.svg" alt="">
        </div>
        <div class="header">
            <h2>Registrarme</h2>
        </div>
      <mat-card-content style="padding-bottom: 15px;">
        <form (ngSubmit)="agregarUsuario()" name="loginForm" [formGroup]="formLogin">
          <div>
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Nombre de usuario</mat-label>
              <input formControlName="username" matInput autocomplete="off" />
              <mat-icon matSuffix>mail</mat-icon>
            </mat-form-field>
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Contraseña</mat-label>
              <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password" autocomplete="off">
              <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword" type="button">
                <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>
            <button class="full-width" mat-raised-button color="primary" type="submit" [disabled]="formLogin.invalid">
              Registrarme
              <mat-icon matSuffix>login</mat-icon>
            </button>
            <div class="pt-2">
              <p class="message">Ya tienes una cuenta? <a routerLink="/login">Iniciar Sesion</a></p>
            </div>
          </div>
        </form>
  
      </mat-card-content>
      <mat-card-footer>
        <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
      </mat-card-footer>
    </mat-card>
  </div>
  
  